* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contenitore-centrato {
    margin: 0 auto;
    max-width: 1000px;
}

a:link {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}



/* ___________barra superiore___________ */


header nav {
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgb(255, 105, 0);
}

.nav-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 20%;
}

.user-links {
    min-width: 160px;
    justify-content: flex-end;
}








/* ________sezione centrale__________ */


.esposizione {
    margin-top: 130px;
}

.esposizione .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
}

.card {
    width: 33%;
    position: relative;
}

.card figure .foto-vista {
    position: relative;
    width: 100%;
}

.card figure .foto-doppia {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .foto-doppia {
    opacity: 1;
}

figcaption {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

figcaption .marca {
    font-size: smaller;
}

figcaption .nome-prodotto {
    font-weight:bold;
    text-transform:uppercase;
}

figcaption .prezzo {
    color: red;
    font-size: small;
    font-weight: bold;
}

figcaption .prezzo span {
    color: black;
    font-weight: normal;
    text-decoration:line-through;
}

.cuore {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuore.rosso {
    opacity: 0;
}

.cuore:hover.rosso{
    opacity: 1;
}

.aggiunta {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 100px;
    
    color: white;
    font-size: x-small;
    font-weight: 800;
}

.aggiunta .perc-sconto {
    padding: 5px 10px;
    background-color: red;
}

.aggiunta .sostenib {
    padding: 5px 10px;
    background-color: green;
    
}



/* _____________footer_________ */

footer nav {
    width: 100%;
    height: 80px;
    background-color: rgb(26, 26, 26);
}

.links-bottom {
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 20px 0 10px 0;
}

.links-bottom.links-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links-bottom .links {
    font-size: x-small;
    padding-top: 10px;
}

.links-bottom-right img {
    width: 40%;
    margin-top: 5px;
}